[submodule "libraries/ajkstack"]
	path = libraries/ajkstack
	url = git@github.com:xxxajk/ajkstack.git
[submodule "libraries/spi4teensy3"]
	path = libraries/spi4teensy3
	url = git@github.com:xxxajk/spi4teensy3.git
[submodule "libraries/xmemUSB"]
	path = libraries/xmemUSB
	url = git@github.com:xxxajk/xmemUSB.git
[submodule "libraries/xmemUSBFS"]
	path = libraries/xmemUSBFS
	url = git@github.com:xxxajk/xmemUSBFS.git
[submodule "libraries/RTClib"]
	path = libraries/RTClib
	url = git@github.com:xxxajk/RTClib.git
[submodule "libraries/Arduino_Makefile_master"]
	path = libraries/Arduino_Makefile_master
	url = git@github.com:xxxajk/Arduino_Makefile_master.git
[submodule "libraries/xmem2"]
	path = libraries/xmem2
	url = git@github.com:xxxajk/xmem2.git
