[submodule "libraries/ajkstack"]
	path = libraries/ajkstack
	url = https://github.com/xxxajk/ajkstack
[submodule "libraries/spi4teensy3"]
	path = libraries/spi4teensy3
	url = https://github.com/xxxajk/spi4teensy3
[submodule "libraries/xmemUSB"]
	path = libraries/xmemUSB
	url = https://github.com/xxxajk/xmemUSB
[submodule "libraries/xmemUSBFS"]
	path = libraries/xmemUSBFS
	url = https://github.com/xxxajk/xmemUSBFS
[submodule "libraries/RTClib"]
	path = libraries/RTClib
	url = https://github.com/xxxajk/RTClib
[submodule "libraries/xmem2"]
	path = https://github.com/libraries/xmem2
	url = xxxajk/xmem2
[submodule "libraries/USB_Host_Shield_2_0"]
	path = libraries/USB_Host_Shield_2_0
	url = https://github.com/felis/USB_Host_Shield_2.0
[submodule "libraries/generic_storage"]
	path = libraries/generic_storage
	url = https://github.com/xxxajk/generic_storage
[submodule "Arduino_Makefile_master"]
	path = Arduino_Makefile_master
	url = https://github.com/xxxajk/Arduino_Makefile_master
